@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: rgb(212 212 216);
    color: rgb(10 10 10);
}

.fi-timeline-section {
    @apply bg-transparent !important;
}

